---
title: Works
layout: defaulthome
permalink: /works/
---

<div class="photo-gallery">
  {% for painting in site.gallery %}
    <div class="photo">
      <img id="trigger-overlay" src="{{ painting.image_path }}" alt="{{ painting.title }}">
      <div class="content">
        <h2>{{ painting.title }}</h2>
        <p>{{ painting.description }}</p>
      </div>
      <br style="clear:both">
    </div>
  {% endfor %}
</div>

<!-- <div class="overlay overlay-scale">
  <button type="button" class="overlay-close">Close</button>
  <img src="{{ painting.image_path }}" alt="{{ painting.title }}">
</div> -->



<!-- {% for post in site.posts %}
  <h3><a href="{{post.url | prepend:site.baseurl}}">{{post.title}}</a></h3>
{% endfor %} -->
