<div id="cv" class="hide"> 
  <p style="text-align: center; font-weight: bold;">Exhibitions</p>
  <p>2017, <strong>Group Exhibition</strong>, Painting, Inside Voice, Transformation, Gallery MC, New York, NY
  </p>
  <p>2014, <strong>Panel Presentation</strong>, Videography, Here is No Insects, Pollock-Krasner House, East Hampton, NY
  <ul>
  	<li>Videography and performance direction for a collaborative experimental video project with artist Maria Maciak presented at the Pollock-Krasner House along with the work of Laurie Anderson as part of the “Unmasking the Muse: Inspiration in the Arts” Panel
  	</li>
  </ul>
  </p>
  <p>2014,	<strong>Group Exhibition</strong>, Painting, Head in Hand, Ross Art Gallery, East Hampton, NY</p>
  <p>2010, <strong>Group Exhibition</strong>, Video Installation, Coffee Time, Whitewash Studio, Amagansett, NY</p>
  <p>2008, <strong>Group Exhibition</strong>, Video Screening, Departed for Damascus, Tribeca Cinemas 2008 New York Arab & South Asian Film Festival, NY</p>
  <p>2005, <strong>Solo Exhibition</strong>, Video Installation, Jacob’s Ladder, Montauk Lighthouse, NY</p>
  <p>2003, <strong>Solo Exhibition</strong>, Video Screening, Butterflies of the Soul, Vatican, Vatican City, Rome, Italy</p>
  <p style="text-align: center; font-weight: bold;">Education</p>
  <p>2020   MA, Art History, Hunter College, City University of New York, NY</p>
  <p>2012   BA, Sociology, Hunter College, City University of New York, NY</p>
  <p>2006   Pratt Institute of Art, New York, NY (Fine Art Courses)</p>
  <p style="text-align: center; font-weight: bold;">Professional Experience</p>
  <p>2014-2017	Associate Producer for Arts and Artifact Education, Ross Learning Systems, Ross Institute, New York, NY</p>
</div>