<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta charset="utf-8" />
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />

  <meta name="description" content="{{ site.description }}">
  <meta name="image" content="http://pjmaskslive.com/images/preview.jpg" />

  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway" rel="stylesheet">

  <title>{% if site.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="shortcut icon" href="{{ site.url }}/favicon.ico" />

</head>
