
<div id="nav-normal" style="height: 100%;">
    <a href="{{site.baseurl}}/works/" class="sprite-welcome1"></a>
    <a href="{{site.baseurl}}/about/" class="sprite2 sprite-welcome2"></a>
    <a href="{{site.baseurl}}/contact/" class="sprite3 sprite-welcome3"></a>
</div>
<div id="nav-responsive" style="text-align: center;">
    <a class="nav-responsive" href="{{site.baseurl}}/works/" ><img src="/images/welcome/welcome1small.jpg" /></a>
    <a class="nav-responsive" href="{{site.baseurl}}/about/" ><img src="/images/welcome/welcome2small.jpg" /></a>
    <a class="nav-responsive" href="{{site.baseurl}}/contact/" ><img src="/images/welcome/welcome3small.jpg" /></a>
</div>
