<div id="nav-normal">
    <a href="{{site.baseurl}}/works/" class="sprite-welcome1"></a>
    <a href="{{site.baseurl}}/about/" class="sprite2 sprite-welcome2"></a>
    <a href="{{site.baseurl}}/contact/" class="sprite3 sprite-welcome3"></a>
</div>

<div id="nav-responsive" style="text-align: center;">
    <a href="{{site.baseurl}}/works/" style="margin:auto;"><img src="/images/welcome1small.jpg" style="border-radius: 3px;"></a>
    <a href="{{site.baseurl}}/about/" style="margin:auto;"><img src="/images/welcome2small.jpg" style="border-radius: 3px;"></a>
    <a href="{{site.baseurl}}/contact/" style="margin:auto;"><img src="/images/welcome3small.jpg" style="border-radius: 3px;"></a>
</div>
