form {
  margin: 50px auto;
  max-width: 70%;
  text-align: center;
  @media screen and (max-width: 900px) {
    max-width: 100%;
  }
  input, textarea {
    font-family: $secondary-font-family;
    font-size: 1.5em;
    border: 2.5px solid black;
    width: 100%;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    border-radius: 2px;
    @media screen and (max-width: 630px) {
      font-weight: bolder;
      font-size: .8em;
      padding: 10px 10px 10px 10px;
    }
  }
  input#submit {
    background-color: #fff;
    font-weight: 700;
    &:hover {
      background-color: $grey-color-light;
    }
  }
  input::-moz-focus-inner {
    border: 0;
  }
  div.contact-info-group {
    padding-bottom: 120px;
    @media screen and (max-width: 630px) {
      padding-bottom: 40px;
    }
    label {
      width: 45%;
      float: left;
      &:nth-child(1) {
        padding-right: 5%;
      }
      &:nth-child(2) {
        padding-left: 5%;
      }
    }
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.4em;
    @media screen and (max-width: 630px) {
      font-size: 1.3em;
      font-weight: bolder;
    }
    span {
      display: block;
    }
  }
}
