/* *{
    -webkit-transition: all 0.2s; Safari
    -webkit-transition-timing-function: linear; Safari
    transition: all 0.2s;
    transition-timing-function: linear;
      } */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
        font-family: $base-font-family;
        margin: 0;
        padding: 0;
        line-height: $base-line-height;
        font-size: $base-font-size;
        color: $text-color;
        text-rendering: optimizeLegibility;
    @include media-query($on-palm) {
        max-width: 100%;
        padding: 1em;
    }

    }

    h1,h2,h3,h4,h5,h6 {
         font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
         font-weight: normal;
         line-height: 1.8;
         margin: 0;
         text-transform: capitalize;
    }


a {
    color: $text-color;
    text-decoration: none;
    &:hover{
     text-decoration: underline;
    }
}

.container {
  width: 80%;
  margin: 0 auto;
}

.biocontainer {
  width: 40%;
  margin: 0 auto;
  margin-top: 5%;
  @media screen and (max-width: 1500px) {
    width: 40%;
  }
  @media screen and (max-width: 1100px) {
    margin-top: 8%;
    width: 50%;
  }
  @media screen and (max-width: 800px) {
    margin-top: 8%;
    width: 80%;
  }
}

p a {
    color: $text-color;
    text-decoration: none;
    background: -webkit-linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);
    box-shadow: inset 0 0 0 0 lighten($brand-color, 10%);
    -webkit-transition: box-shadow ease 1s;
	-moz-transition: box-shadow ease 1s;
	transition: box-shadow ease 1s;
    &:hover {
        color: lighten($background-color, 50%);
        box-shadow: inset 0 -100px 0 0 lighten($brand-color, 10%);

    }
}


figure {
    margin: 0;
}

img {
    max-width: 100%;
}

pre,
code {
    overflow: auto;
    font-size: 0.7*$base-font-size;
    border-radius: 3px;
    border: 1px solid $brand-color;
    > code {
        border: none;
    }
}
pre {
        padding: 1em;
}
code {
    padding: 0.1em;
}
blockquote {
    border-left: 2px solid $brand-color;
    padding-left: 1em;
    font-family: Georgia,Times,Times New Roman,serif;
    font-size: 0.9*$base-font-size;
    font-style: italic;
}



.headline {
  text-align: right;
  font-size: 3em;
  font-family: $base-font-family;
  padding: 30px 80px 0px 0px;
      @media screen and (max-width: 837px) {
        text-align: center;
        padding: 10px 0px 20px 0px;
      }
      @include media-query($on-palm) {
        font-size: 2em;
      }
}

div#nav-normal {
  @media screen and (max-width: 825px) {
    display: none
  }
}

div#nav-responsive {
  @media screen and (min-width: 825px) {
    display: none
  }
  a.nav-responsive {
    margin:auto;
    -webkit-filter: drop-shadow(1.5px 1.5px 1.5px #222);
    filter: drop-shadow(1.5px 1.5px 1.5px #222);
    img {
      max-width: 100%;
      border-radius: 4px;
    }
  }
}

.sprite-welcome1 {
    width: 550px;
    height: 200px;
    background-position: -5px -5px;
    background-image: url(/images/welcome/spritesheet1.png);
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(1.5px 1.5px 1.5px #222);
    filter: drop-shadow(1.5px 1.5px 1.5px #222);
    display: block;
    border-radius: 5px;
    margin: 10px;
    &:hover {
      width: 550px;
      height: 200px;
      background-position: -578px -5px;
    }
}

.sprite-welcome2 {
    width: 720px;
    height: 223px;
    background-position: -5px -5px;
    background-image: url(/images/welcome/spritesheet2.png);
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(1.5px 1.5px 1.5px #222);
    filter: drop-shadow(1.5px 1.5px 1.5px #222);
    display: block;
    border-radius: 5px;
    position: relative;
    left: 300px;
    margin: 20px;
    &:hover {
        width: 720px;
        height: 223px;
        background-position: -5px -238px;
    }
    @media screen and (max-width: 1200px) {
      left: 200px;
    }
    @media screen and (max-width: 1100px) {
      left: 150px;
    }
    @media screen and (max-width: 1000px) {
      left: 80px;
    }
    @media screen and (max-width: 930px) {
      left: 30px;
    }
    @media screen and (max-width: 870px) {
      left: 0px;
    }
    @media screen and (max-width: 837px) {
      left: -10px;
    }
}

.sprite-welcome3 {
    width: 603px;
    height: 231px;
    background-position: -5px -5px;
    background-image: url(/images/welcome/spritesheet3.png);
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(1.5px 1.5px 1.5px #222);
    filter: drop-shadow(1.5px 1.5px 1.5px #222);
    display: block;
    border-radius: 5px;
    position: relative;
    left: 40px;
    margin: 10px;
    &:hover {
        width: 603px;
        height: 231px;
        background-position: -5px -245.8px;
        @media screen and (max-width: 837px) {
          width: 100%;
        }
    }
    @media screen and (max-width: 837px) {
      left: 0px;
    }
}

.post-headline {
    font-size: 4em;
        @include media-query($on-palm) {
            font-size: 1.5em;
    }
}


.back {
    background-image: url(../images/leftarrow.png);
    background-repeat: no-repeat;
    height: 120px;
    width: 120px;
    opacity: 1;
    position: fixed;
    top: 30px;
    left: 50px;
    &:hover{
    opacity: 1;
    -webkit-filter: drop-shadow(.5px .5px .5px #222);
    filter: drop-shadow(.5px .5px .5px #222);
    }
    @media screen and (max-width: 900px) {
      display: none;
    }
}

.responsiveback {
    background-image: url(../images/leftarrowsmall.png);
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    opacity: 1;
    position: fixed;
    top: 35px;
    left: 30px;
    &:hover{
    opacity: .7;
    }
    @media screen and (min-width: 900px) {
      display: none;
    }
}

div.photo-gallery {
  margin: 0;
  padding: 40px 0 0 0;
  div.photo {
    padding: 30px 0px 30px 0px;
    margin: 10px 50px 0 0;
    @media screen and (max-width: 1600px) {
      padding: 30px 50px 30px 50px;
    }
    @media screen and (max-width: 600px) {
      padding: 20px 0px 0px 0px;
      margin: 0;
    }
    img {
      padding: 20px;
      margin: 50px;
      -webkit-filter: drop-shadow(2px 2px 2px #222);
      filter: drop-shadow(2px 2px 2px #222);
      @media screen and (max-width:1050px) {
         padding: 0px;
         margin: 0px;
       }
    }
    div.content {
      padding-top: 50px;
      @media screen and (max-width:1050px) {
         float: left;
       }
    }
  }
}

div.photo:nth-of-type(odd) img {
  float: left;
}
div.photo:nth-of-type(even) img {
  float: right;
  @media screen and (max-width:1050px) {
     float: left;
   }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}

.video {
    width: 100%;
    height: 360px;
    @include media-query($on-laptop) {
        height: 300px;
    }
    @include media-query($on-palm) {
        height: 180px;
    }
}

// Adding 'Contents' headline to the TOC
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}


// Using numbers instead of bullets for listing
#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
    border: 1px solid $brand-color;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}


.theme {
    background-size: contain;
    height: 40px;
    width: 40px;
    margin: 1em 0;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.links {
  text-align: center;
  font-size: 2em;
  a {
      margin-right: 2em;
      margin-left: 2em;
  }
}
