/* *{
    -webkit-transition: all 0.2s; Safari
    -webkit-transition-timing-function: linear; Safari
    transition: all 0.2s;
    transition-timing-function: linear;
      } */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
        font-family: $base-font-family;
        margin: 0;
        padding: 0;
        line-height: $base-line-height;
        font-size: $base-font-size;
        color: $text-color;
        text-rendering: optimizeLegibility;
    @include media-query($on-palm) {
        max-width: 100%;
        padding: 1em;
    }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $base-font-family;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.8;
  margin: 0;
  @include media-query($on-palm) {
    font-size: 1.1em;
  }
}

p, span, label {
  font-family: $secondary-font-family;
  font-size: 1.2em;
  @include media-query($on-palm) {
    font-size: .9em;
  }
}


a {
    color: $text-color;
    text-decoration: none;
    &:hover{
     text-decoration: underline;
    }
}

.container {
  width: 60%;
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    width: 80%
  }
  @media screen and (max-width: 600px) {
    width: 90%
  }
}

.biocontainer {
  width: 70%;
  margin: 0 auto 50px;
  @media screen and (max-width: 1500px) {
    margin-top: 8%;
    width: 80%;
  }
  @media screen and (max-width: 600px) {
    margin: 20% 0 20% 0;
    width: 95%;
    h1, h2, h3, h4, h5, h6 {
      text-align: center;
    }
  }
}


figure {
    margin: 0;
}


pre,
code {
    overflow: auto;
    font-size: 0.7*$base-font-size;
    border-radius: 3px;
    border: 1px solid $brand-color;
    > code {
        border: none;
    }
}
pre {
        padding: 1em;
}
code {
    padding: 0.1em;
}
blockquote {
    border-left: 2px solid $brand-color;
    padding-left: 1em;
    font-family: Georgia,Times,Times New Roman,serif;
    font-size: 0.9*$base-font-size;
    font-style: italic;
}



.headline {
  text-align: right;
  font-size: 3em;
  font-weight: normal;
  font-family: $base-font-family;
  padding: 30px 80px 0px 0px;
      @media screen and (max-width: 837px) {
        text-align: center;
        padding: 10px 0px 20px 0px;
      }
      @include media-query($on-palm) {
        font-size: 2em;
      }
}

div#nav-normal {
  @media screen and (max-width: 825px) {
    display: none
  }
}

div#nav-responsive {
  @media screen and (min-width: 825px) {
    display: none
  }
  a.nav-responsive {
    margin:auto;
    -webkit-filter: drop-shadow(1.5px 1.5px 1.5px #222);
    filter: drop-shadow(1.5px 1.5px 1.5px #222);
    img {
      max-width: 100%;
      border-radius: 4px;
    }
  }
}

.sprite-welcome1 {
    width: 550px;
    height: 200px;
    background-position: -5px -5px;
    background-image: url(/images/welcome/spritesheet1.png);
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(1.5px 1.5px 1.5px #222);
    filter: drop-shadow(1.5px 1.5px 1.5px #222);
    display: block;
    border-radius: 5px;
    margin: 10px;
    &:hover {
      width: 550px;
      height: 200px;
      background-position: -578px -5px;
    }
}

.sprite-welcome2 {
    width: 720px;
    height: 223px;
    background-position: -5px -5px;
    background-image: url(/images/welcome/spritesheet2.png);
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(1.5px 1.5px 1.5px #222);
    filter: drop-shadow(1.5px 1.5px 1.5px #222);
    display: block;
    border-radius: 5px;
    position: relative;
    left: 300px;
    margin: 20px;
    &:hover {
        width: 720px;
        height: 223px;
        background-position: -5px -238px;
    }
    @media screen and (max-width: 1350px) {
      left: 200px;
    }
    @media screen and (max-width: 1230px) {
      left: 100px;
    }
    @media screen and (max-width: 1071px) {
      left: 40px;
    }
    @media screen and (max-width: 1000px) {
      left: -10px;
    }
}

.sprite-welcome3 {
    width: 603px;
    height: 231px;
    background-position: -5px -5px;
    background-image: url(/images/welcome/spritesheet3.png);
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(1.5px 1.5px 1.5px #222);
    filter: drop-shadow(1.5px 1.5px 1.5px #222);
    display: block;
    border-radius: 5px;
    position: relative;
    left: 40px;
    margin: 10px;
    &:hover {
        width: 603px;
        height: 231px;
        background-position: -5px -245.8px;
        @media screen and (max-width: 837px) {
          width: 100%;
        }
    }
    @media screen and (max-width: 1000px) {
      left: 0px;
    }
}

.post-headline {
    font-size: 4em;
        @include media-query($on-palm) {
            font-size: 1.5em;
    }
}


.back {
    background-image: url(../images/leftarrow.png);
    background-repeat: no-repeat;
    height: 120px;
    width: 120px;
    opacity: 1;
    position: fixed;
    top: 30px;
    left: 50px;
    &:hover{
    opacity: 1;
    -webkit-filter: drop-shadow(.5px .5px .5px #222);
    filter: drop-shadow(.5px .5px .5px #222);
    }
    @media screen and (max-width: 900px) {
      display: none;
    }
}

.responsiveback {
    background-image: url(../images/leftarrowsmall.png);
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 20px;
    @media screen and (min-width: 900px) {
      display: none;
    }
    @media screen and (max-width: 390px) {
      top: 110px;
      left: 140px;
    }
}

div.photo-gallery {
  margin: 0;
  padding: 40px 0 0 0;
  div.photo {
    padding: 20px 0px 30px 0px;
    margin: 10px 50px 0 0;
    @media screen and (max-width: 1600px) {
      padding: 30px 50px 30px 50px;
    }
    @media screen and (max-width: 600px) {
      padding: 20px 0px 0px 0px;
      margin: 0;
    }
    img {
      padding: 10px;
      margin: 30px;
      -webkit-filter: drop-shadow(2px 2px 2px #222);
      filter: drop-shadow(2px 2px 2px #222);
      @media screen and (max-width:1050px) {
         padding: 0px;
         margin: 0px;
       }
     @media screen and (max-width: 600px) {
       padding: 20px 0px 0px 0px;
       max-width: 100%
     }
    }
    div.content {
      padding-top: 60px;
      @media screen and (max-width:1050px) {
         float: left;
         padding-bottom: 60px;
      }
      @media screen and (max-width:800px) {
        padding: 20px 0 20px 5px;
      }
    }
  }
}

div.photo:nth-of-type(odd) img {
  float: left;
}
div.photo:nth-of-type(even) img {
  float: right;
  @media screen and (max-width:1050px) {
     float: left;
  }
}

div.photo:nth-of-type(even) h2 {
  text-align: right;
  @media screen and (max-width: 600px) {
    text-align: left
  }
}
div.photo:nth-of-type(even) p {
  text-align: right;
  @media screen and (max-width: 600px) {
    text-align: left
  }
}

form {
  max-width: 70%;
  margin: 20px auto;
  @media screen and (max-width: 600px) {
    max-width: 100%;
    margin: 50px auto;
  }
  input, textarea {
    font-family: $secondary-font-family;
    font-size: 1.5em;
    border: 2.5px solid black;
    width: 100%;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    border-radius: 2px;
    @media screen and (max-width: 600px) {
      font-weight: bolder;
      font-size: 1.6em;
    }
  }
  input#submit {
    background-color: #fff;
    &:hover {
      background-color: $grey-color-light;
    }
  }
  input::-moz-focus-inner {
    border: 0;
  }
  div.contact-info-group {
    padding-bottom: 120px;
    label {
      width: 45%;
      float: left;
      &:nth-child(1) {
        padding-right: 5%;
      }
      &:nth-child(2) {
        padding-left: 5%;
      }
    }
  }
  label {
    display: block;
    margin-bottom: 10px;
    @media screen and (max-width: 600px) {
      font-size: .7em;
      font-weight: bold;
    }
    span {
      display: block;
    }
  }
}



.video {
    width: 100%;
    height: 360px;
    @include media-query($on-laptop) {
        height: 300px;
    }
    @include media-query($on-palm) {
        height: 180px;
    }
}

// Adding 'Contents' headline to the TOC
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}


// Using numbers instead of bullets for listing
#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
    border: 1px solid $brand-color;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}


.theme {
    background-size: contain;
    height: 40px;
    width: 40px;
    margin: 1em 0;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.links {
  text-align: center;
  font-size: 2em;
  a {
      margin-right: 2em;
      margin-left: 2em;
  }
}
