html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    font-family: $base-font-family;
    margin: 0;
    padding: 0;
    line-height: $base-line-height;
    font-size: $base-font-size;
    color: $text-color;
    text-rendering: optimizeLegibility;
    @include media-query($on-mobile) {
      max-width: 100%;
  }
}

.hide {
  display: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $base-font-family;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.8;
  margin: 0;
  @include media-query($on-mobile) {
    font-size: 1.1em;
  }
}

p, span, label, li {
  font-family: $secondary-font-family;
  font-size: 1.2em;
  @include media-query($on-mobile) {
    font-size: .9em;
  }
}


a {
    color: $text-color;
    text-decoration: none;
}

.container {
  width: 55%;
  margin: 0 auto;
  @media screen and (max-width: 1450px) {
    width: 65%
  }
  @media screen and (max-width: 1050px) {
    width: 75%
  }
  @media screen and (max-width: 600px) {
    width: 95%
  }
}

.biocontainer {
  width: 80%;
  margin: 0 auto 50px;
  @media screen and (max-width: 1500px) {
    margin-top: 8%;
    width: 80%;
  }
  @media screen and (max-width: 600px) {
    width: 100%;
    h1, h2, h3, h4, h5, h6 {
      text-align: center;
      font-size: 1em;
    }
    p {
      font-size: .9em;
    }
  }
}

.headline {
  text-align: right;
  font-size: 3.5em;
  font-weight: normal;
  font-family: $base-font-family;
  padding: 5px 80px 0px 0px;
      @media screen and (max-width: 900px) {
        text-align: center;
        padding: 0 0 30px 0;
      }
      @include media-query(500px) {
        font-size: 2.5em;
      }
      @include media-query(400px) {
        font-size: 2em;
      }
      @include media-query(300px) {
        font-size: 1.8em;
      }
}


.back_arrow {
    background-image: url(../images/icons/leftarrow.png);
    background-repeat: no-repeat;
    height: 120px;
    width: 120px;
    opacity: 1;
    position: fixed;
    top: 5px;
    left: 30px;
    @media screen and (max-width: 1050px) {
      left: 5px;
    }
    &:hover{
    opacity: 1;
    -webkit-filter: drop-shadow(.5px .5px .5px #222);
    filter: drop-shadow(.5px .5px .5px #222);
    }
    @media screen and (max-width: 850px) {
      display: none;
    }
}

.responsiveback {
    background-image: url(../images/icons/leftarrowsmall.png);
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 20px;
    @media screen and (min-width: 850px) {
      display: none;
    }
    @media screen and (max-width: 600px) {
      position: static;
      margin: 0 auto;
    }
}

#instagram {
  text-align: center;
  margin-bottom: 40px;
  img {
    width: 50px;
  }
}
