---
layout: compress
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <header>
        <a href="{{site.baseurl}}/">
          <div class="back"></div>
          <div class="responsiveback"></div>
        </a>
        <h1 class="headline">{{site.title}}</h1>
    </header>

    <div class="container">
      {{ content }}
    </div>
  {% include analytics.html %}
  <script src="../js/classie.js"></script>
  <script src="../js/overlay.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="../js/newoverlay.js"></script>
  </body>
</html>
