---
layout: compress
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <header>
        <a href="{{site.baseurl}}/">
          <div class="back"></div>
          <div class="responsiveback"></div>
        </a>
    </header>
    <h1 class="headline" style="font-weight:normal;">{{site.title}}</h1>
    <div class="container">
      {{ content }}
    </div>
  {% include analytics.html %}
  <script src="../js/classie.js"></script>
  <script src="../js/overlay.js"></script>
  </body>
</html>
