---
layout: compress
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <header>
        <a href="{{site.baseurl}}/">
          <div class="back_arrow"></div>
        </a>
        <h1 class="headline"><a href="{{site.baseurl}}/">{{site.title}}</a></h1>
        <a href="{{site.baseurl}}/"><div class="responsiveback"></div></a>
    </header>

    <div class="container">
      {{ content }}
    </div>
  {% include analytics.html %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="../js/overlay.js"></script>
  <script src="../js/cv.js"></script>
  <script src="../js/focus.js"></script>
  </body>
</html>
